<%- include('header') %>
     <%- include('header1') %>

          <body>
               <h1>Hi, I am <%= !user.name?"ues":user.name %>
               </h1>
               <h2> and i am from <%= !user.email?"no":user.email %>
               </h2>
          </body>


          <%- include('footer') %>